@use "variabel" as gv;
@use "global-style";

/* Add this to your CSS or SCSS file */

.relationnode{
   $border-radius:20px;
   border: 1px solid gv.$nav-bar-color; 
   border-radius: $border-radius;
   background-color: gv.$node-background;
   .releation-name{
      text-align: center;
      padding: 10px 20px;
      background-color: gv.$nav-bar-color;
      border-radius: $border-radius $border-radius 0px 0px;
   }
   table{
      padding: 20px;
      width: 100%;
      border-collapse: collapse;
      border-radius: $border-radius;
      tr{
         text-align: left;
         border-bottom: 1px solid gv.$nav-bar-color;
         &:not(:first-child):last-child{
            border-bottom: 0px;
         }
         :is(td,th){
            padding: 8px;
            position: relative;
            &:not(:first-child){
               border-left: 1px solid gv.$nav-bar-color;
            }
         }
      }
      
   }

 }
 


 

 