@use "variabel" as gv;
@use "global-style";

/* Add this to your CSS or SCSS file */

tr,td{
   position: relative;
}

.relationnode{
   $border-radius:20px;
   border: 1px solid gv.$nav-bar-color; 
   border-radius: $border-radius;
   background-color: gv.$node-background;
   .releation-name{
      text-align: center;
      padding: 10px 20px;
      background-color: gv.$nav-bar-color;
      border-radius: $border-radius $border-radius 0px 0px;
   }
   .table{
      :is(.header,.tuple){
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 5px;
         padding: 10px;
         &:not(:last-child){
            border-bottom: 1px solid gv.$nav-bar-color;
         }
      }
   }

 }
 


 

 